:root {

    /* Fonts */

--Roboto: 'Roboto', sans-serif;
--Montserrat: 'Montserrat', sans-serif;

/* Paleta de Colores 1*/
--onecolor:#2394E8;
--twocolor:#6DC2EB;
--threecolor:#F1F6F8;
--fourcolor:#FFC25B;
--fivecolor:#FA7F03;

/* Paleta de Colores 2 */

--sixcolor:#013D37;
--sevencolor:#91D6B8;
--eightcolor:#EBFCFF;
--ninecolor:#226D56;
--tencolor:#F1FAB7;
}